<!-- Header -->
<%- include('partials/header.ejs') %>

    <!-- Home Body Containet -->
    <div class="main-body-container post-content-holder">
        <div class="featured-img"></div>
        <div class="post-content">
            <h1><%=postTitle%></h1>
            <div class="post-meta">
                <p><%= author %> </p>
                <p><%= date %> </p>
            </div>
            <div class="article-content">
                <%- postContent %> 
            </div>
        </div>
    </div>


    <!-- Footer -->
    <%- include('partials/footer.ejs') %>